<header></header>
<main id="game" class="container mx-auto min-h-dvh items-center lg:px-5 flex"></main>
<% if Rails.env.development? %>
  <%# <div id="debugging" class="absolute w-150 h-150 right-0 bottom-0 overflow-scroll"></div> %>
<% end %>
<footer></footer>