.flame1,
.flame2 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px rgba(255, 165, 0, 0.5); /* Orange glow */
  filter: drop-shadow(0 0 50px rgba(255, 165, 0, 0.7)); /* More glow */
  animation: flicker 2s infinite alternate; /* Add flicker animation */
  position: absolute;
}

.flame1 {
  top: 50%;
  left: 28%;
}

.flame2 {
  animation-direction: alternate-reverse;
  top: 50%;
  right: 30%;
}
