<h1>Campaigns#index</h1>
<div id="game"></div>
<table>
  <tr>
    <th>Name</th>
    <th>Key</th>
  </tr>
  <% @campaigns.each do |campaign| %>
    <tr>
      <td><%= campaign.name %></td>
      <td><%= campaign.key %></td>
    </tr>
  <% end %>
</table>
